<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Bikes for Sale</h1>
  <p>
    These are the available Bikes from Brandon's Bike Shop.
  </p>
</div> <!-- /header -->

  <div class="container-fluid product-list">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4 col-sm-6 panel">
          <h1><%= product.name %></h1>
          <p><%= product.colour %></p>
          <%= image_tag(product.image_url, class: "img-responsive") %>
          <p><%= product.description %></p>
          <p><strong>$ <%= product.price %></strong></p>
        </div> <!-- /col -->
      <% end %>
    </div> <!-- /row -->
  </div> <!-- /container -->


  <br>

  <%= link_to 'New Product', new_product_path %>
