<div class="product-area container">
  
  <div class="row">
    <div class="image col-md-8">
      <%= image_tag(@product.image_url, class: "small img-responsive") %>
    </div> <!-- /image -->
    <div class="details col-md-4">
      <h3>
        <%= @product.name %>
      </h3>
      <p>
        <strong>Average Rating: </strong>
        <div class = "rated" data-score = "<%= @product.average_rating %>"></div>
      </p>


      <p>
        <strong>$<%= @product.price %></strong>
      </p>

      <p>
        <strong>Available in:</strong> <em><%= @product.colour %></em>
      </p>
      
      <h3>
        Description:
      </h3>
      
      <p>
        <%= @product.description %>
      </p>
      <%= link_to products_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Back
      <% end %>
    </div> <!-- /details -->
  </div> <!-- /row -->
</div> <!-- /product_area -->
<div class = "comments-area container">
  <h3> Comments </h3>
  <div class = "comments">
    <%= render 'new_comment', product: @product %>
    <%= render 'comments', product: @product %>
    <div class="digg_pagination">
      <%= will_paginate @comments %>
    </div>
  </div> <!-- /comments -->
</div> <!-- /comments-area -->
<!-- <%#= link_to 'Edit', edit_product_path(@product) %> | -->
