<p id="notice"><%= notice %></p>

<div class="product_area">
  <div class="image">
    <%= image_tag(@product.image_url, class: "small") %>
  </div> <!-- /image -->
  <p>
    <%= @product.name %>
  </p>

  <p>
    <%= @product.description %>
  </p>

  <p>
    <%= @product.colour %>
  </p>

  <p>
    $<%= @product.price %>
</div> <!-- /product_area -->
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>